/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
    --background-color: #333;
    --error-color: #721c24;
    --primary-color: #1B5E20;
    --cta-button-color: var(--primary-color);
    --cta-button-hover-color: #2E7D32;
    --nav-button-hover-color: #f39c12;

    /*--input-border-color: var(--primary-color);*/
}

body {
    background: url('/static/images/tennis-scoreboard-main-background.webp') no-repeat center/cover;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.vertical-center {
    height: 400px;
    justify-content: center;
}

.horizontal-center {
    align-items: center;
}

.flex-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /*background: #eeee90;*/
}

/* Header Styles */
.site-header, .site-footer {
    background-color: var(--background-color);
    padding: 10px 20px;
    min-height: 40px;
    font-size: 20px;
}

.main-nav ul, .site-footer ul {
    display: flex;
}

.main-nav a, .site-footer a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.main-nav a:hover, .site-footer a:hover {
    color: var(--nav-button-hover-color)
}

.site-footer ul {
    justify-content: center;
}

/*CTA-Button*/
.cta-button {
    /*background-color: rgba(231, 76, 60, 0.9);*/
    background-color: var(--cta-button-color);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--cta-button-hover-color);
    /*background-color: rgba(192, 57, 43, 0.9);*/
}

/* Pagination */
.pagination-section {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 500px;
}

.pagination-controls a {
    padding: 8px 16px;
    margin: 0 5px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.pagination-controls a:hover {
    background: #0056b3;
}

.pagination-element {
    min-width: 80px;
    width: 100%;
}

/* Footer */
.site-footer {
    background-color: var(--background-color);
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Error Message Styling */
.error {
    color: var(--error-color);
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 16px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.error li {
    margin-bottom: 10px;
    font-weight: bold;
}

.error.ul::before {
    content: "⚠";
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle;
}