h1 {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-button {
    font-size: 1.4em;
}

.site-footer {
    position: static;
}

