body {
    background: url('/static/images/active-match-background.webp') no-repeat center center/cover;
}

.info-header {
    text-align: center;
    padding: 5px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}

.live-time, .match-id {
    font-size: 30px;
    width: 100%;
    margin: 5px auto;
}

.scoreboard {
    margin: 20px;
    gap: 16px;
    padding: 20px 20px;
    max-width: 600px;
    font-family: sans-serif;
    background: rgba(229, 241, 241, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.score-entry {
    display: flex;
    justify-content: space-between; /* Distributes space between title and scores */
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 50px;
    margin: 10px auto;
    background: lightgrey;
    border-radius: 10px;
}

.title {
    font-size: 24px;
    font-weight: bolder;
    padding: 20px;
    width: 300px;
}

.scores {
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 300px;
    align-items: center;
    box-shadow: 0 3px 5px rgba(6, 6, 6, 0.5);
}

.score, .score-divider {
    display: flex;
    justify-content: center;
    font-size: 32px;
    align-items: center;
    width: 70px;
}

.score {
    padding: 0 5px;
}

.player1, .player2 {
    font-weight: bold;
}

.player1 {
    color: #145cab;
}

.player2 {
    color: #921729;
}

.score-control {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    padding: 32px;
}

.score-label {
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 10px;
    font-weight: bolder;
    font-size: 32px;
    background: rgba(245, 246, 247, 0.3);
}

.score-control button {
    width: 300px;
    background-color: #022b5d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.score-control button:hover {
    background-color: #eecc90;
    color: #0a0a23;
}

.score-control button:active {
    background-color: #009b08;
    transform: translateY(3px);
}

.notification {
    font-size: 32px;
    display: none; /* Initially hidden */
    position: fixed;
    top: 20%; /* Center the message vertically */
    left: 50%; /* Center the message horizontally */
    transform: translateX(-50%);
    background-color: #f1b1b1;
    border: 1px solid #d3d3d3;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Make sure it's on top of other content */
}
