.div-players-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 20px auto;
    width: 1000px;
    text-align: center;
}

.no-players {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #323030;
    align-items: center;
    margin: 20px 0;
}

.players-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(222, 214, 56, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.player-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    background-color: rgba(222, 56, 56, 0.1);
    border: 1px solid #dcdcdc;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.player-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.matches-ref, .ongoing-match-ref {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    margin-right: 10px;
    transition: box-shadow 0.3s ease;
}

.player-details-ref:hover {
    background-color: rgba(109, 222, 56, 0.1);
    box-shadow: 0 4px 15px rgba(109, 222, 56, 0.9);
}

.matches-ref:hover, .ongoing-match-ref:hover {
    background-color: rgba(230, 149, 14, 0.36);
    box-shadow: 0 4px 15px rgba(222, 56, 56, 0.9);
}

.matches-ref, .ongoing-match-ref {
    background: rgba(229, 241, 241, 0.2);;
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 2px;
}

.player-item h3 {
    color: #333;
    margin-bottom: 10px;
}

.player-name {
    text-decoration: underline;
    text-decoration-color: #c31408;
    color: #36322f;
    font-weight: bold;
}

.filter-form {
    align-items: center;
    text-align: center;

    background: rgba(229, 241, 241, 0.8);
}

.filter-form label {
    font-weight: bold;
    margin-right: 5px;
}

.filter-form input, .filter-form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 150px;
    margin-right: 5px;
}

.cta-button {
    margin: 5px;
    width: 120px;
}